<!DOCTYPE HTML>
<html>
  <head>
    <style>
        body {
          background-image: url("https://i.pinimg.com/originals/d1/de/05/d1de05fd1cb0f0e30cd0024ba7986869.jpg");
          background-repeat: no-repeat;
          line-height: 1.6;
          margin: 0;
          min-height: 100vh;
        }
      </style>
  </head>
  <body>
    <h2 style="font-family: arial; color: white; text-align: center;">Arch bot credits</h2>
    <br>
    <p style="font-family: arial; color: white; text-align: center;"> thatOneArchUser#5794 | Bot developer, web developer<br>αrchιshα#5518 | bot administrator<br>notsniped#4573 | bot administrator<br>xristos_hal#4383 | bot administrator</p>
  </body>
 <html>
